apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: caph-controller-manager
spec:
  selector:
    matchLabels:
      control-plane: caph-controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: caph-controller-manager
    spec:
      containers:
        - args:
            - "--v=6"
            - "--metrics-bind-addr=127.0.0.1:8080"
          image: ecpacr.azurecr.io/public/aksarc/caphcontroller:latest
          imagePullPolicy: Always
          name: manager
          ports:
            - containerPort: 9440
              name: healthz
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: healthz
          livenessProbe:
            httpGet:
              path: /healthz
              port: healthz
      terminationGracePeriodSeconds: 10