
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.6
  creationTimestamp: null
  name: azurestackhcivirtualmachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AzureStackHCIVirtualMachine
    listKind: AzureStackHCIVirtualMachineList
    plural: azurestackhcivirtualmachines
    singular: azurestackhcivirtualmachine
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: AzureStackHCIVirtualMachine is the Schema for the azurestackhcivirtualmachines
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIVirtualMachineSpec defines the desired state
              of AzureStackHCIVirtualMachine
            properties:
              availabilityZone:
                properties:
                  enabled:
                    type: boolean
                  id:
                    type: string
                type: object
              backendPoolName:
                type: string
              bootstrapData:
                type: string
              clusterName:
                type: string
              identity:
                description: VMIdentity defines the identity of the virtual machine,
                  if configured.
                type: string
              image:
                description: 'Image defines information about the image to use for
                  VM creation. There are three ways to specify an image: by ID, by
                  publisher, or by Shared Image Gallery. If specifying an image by
                  ID, only the ID field needs to be set. If specifying an image by
                  publisher, the Publisher, Offer, SKU, and Version fields must be
                  set. If specifying an image from a Shared Image Gallery, the SubscriptionID,
                  ResourceGroup, Gallery, Name, and Version fields must be set.'
                properties:
                  gallery:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  offer:
                    type: string
                  publisher:
                    type: string
                  resourceGroup:
                    type: string
                  sku:
                    type: string
                  subscriptionID:
                    type: string
                  version:
                    type: string
                type: object
              location:
                type: string
              osDisk:
                properties:
                  diskSizeGB:
                    format: int32
                    type: integer
                  managedDisk:
                    properties:
                      storageAccountType:
                        type: string
                    required:
                    - storageAccountType
                    type: object
                  name:
                    type: string
                  osType:
                    description: 'TEMP: OSType describes the OS type of a disk.'
                    type: string
                  source:
                    type: string
                required:
                - diskSizeGB
                - managedDisk
                - name
                - osType
                - source
                type: object
              resourceGroup:
                description: come from the cluster scope for machine and lb controller
                  creation path
                type: string
              sshPublicKey:
                type: string
              subnetName:
                type: string
              vmSize:
                type: string
              vnetName:
                type: string
            required:
            - clusterName
            - image
            - location
            - resourceGroup
            - sshPublicKey
            - subnetName
            - vmSize
            - vnetName
            type: object
          status:
            description: AzureStackHCIVirtualMachineStatus defines the observed state
              of AzureStackHCIVirtualMachine
            properties:
              addresses:
                description: Addresses contains the AzureStackHCI instance associated
                  addresses.
                items:
                  description: NodeAddress contains information for the node's address.
                  properties:
                    address:
                      description: The node address.
                      type: string
                    type:
                      description: Node address type, one of Hostname, ExternalIP
                        or InternalIP.
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              failureMessage:
                type: string
              failureReason:
                description: Constants aren't automatically generated for unversioned
                  packages. Instead share the same constant for all versioned packages
                type: string
              ready:
                description: Ready is true when the provider resource is ready.
                type: boolean
              vmState:
                description: VMState is the provisioning state of the AzureStackHCI
                  virtual machine.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
