---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: azurestackhcimachinetemplates.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AzureStackHCIMachineTemplate
    listKind: AzureStackHCIMachineTemplateList
    plural: azurestackhcimachinetemplates
    singular: azurestackhcimachinetemplate
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: AzureStackHCIMachineTemplate is the Schema for the azurestackhcimachinetemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIMachineTemplateSpec defines the desired state
              of AzureStackHCIMachineTemplate
            properties:
              template:
                description: AzureStackHCIMachineTemplateResource describes the data
                  needed to create an AzureStackHCIMachine from a template
                properties:
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      additionalSSHKeys:
                        items:
                          type: string
                        type: array
                      allocatePublicIP:
                        description: AllocatePublicIP allows the ability to create
                          dynamic public ips for machines where this value is true.
                        type: boolean
                      availabilityZone:
                        properties:
                          enabled:
                            type: boolean
                          id:
                            type: string
                        type: object
                      image:
                        description: 'Image defines information about the image to
                          use for VM creation. There are three ways to specify an
                          image: by ID, by publisher, or by Shared Image Gallery.
                          If specifying an image by ID, only the ID field needs to
                          be set. If specifying an image by publisher, the Publisher,
                          Offer, SKU, and Version fields must be set. If specifying
                          an image from a Shared Image Gallery, the SubscriptionID,
                          ResourceGroup, Gallery, Name, and Version fields must be
                          set.'
                        properties:
                          gallery:
                            type: string
                          id:
                            type: string
                          name:
                            type: string
                          offer:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          publisher:
                            type: string
                          resourceGroup:
                            type: string
                          sku:
                            type: string
                          subscriptionID:
                            type: string
                          version:
                            type: string
                        required:
                        - osType
                        type: object
                      location:
                        type: string
                      osDisk:
                        properties:
                          diskSizeGB:
                            format: int32
                            type: integer
                          managedDisk:
                            properties:
                              storageAccountType:
                                type: string
                            required:
                            - storageAccountType
                            type: object
                          name:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          source:
                            type: string
                        required:
                        - diskSizeGB
                        - managedDisk
                        - name
                        - osType
                        - source
                        type: object
                      providerID:
                        description: ProviderID is the unique identifier as specified
                          by the cloud provider.
                        type: string
                      sshPublicKey:
                        type: string
                      vmSize:
                        type: string
                    required:
                    - location
                    - sshPublicKey
                    - vmSize
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: false
  - name: v1alpha4
    schema:
      openAPIV3Schema:
        description: AzureStackHCIMachineTemplate is the Schema for the azurestackhcimachinetemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIMachineTemplateSpec defines the desired state
              of AzureStackHCIMachineTemplate
            properties:
              template:
                description: AzureStackHCIMachineTemplateResource describes the data
                  needed to create an AzureStackHCIMachine from a template
                properties:
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      additionalSSHKeys:
                        items:
                          type: string
                        type: array
                      allocatePublicIP:
                        description: AllocatePublicIP allows the ability to create
                          dynamic public ips for machines where this value is true.
                        type: boolean
                      availabilityZone:
                        properties:
                          enabled:
                            type: boolean
                          id:
                            type: string
                        type: object
                      image:
                        description: 'Image defines information about the image to
                          use for VM creation. There are three ways to specify an
                          image: by ID, by publisher, or by Shared Image Gallery.
                          If specifying an image by ID, only the ID field needs to
                          be set. If specifying an image by publisher, the Publisher,
                          Offer, SKU, and Version fields must be set. If specifying
                          an image from a Shared Image Gallery, the SubscriptionID,
                          ResourceGroup, Gallery, Name, and Version fields must be
                          set.'
                        properties:
                          gallery:
                            type: string
                          id:
                            type: string
                          name:
                            type: string
                          offer:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          publisher:
                            type: string
                          resourceGroup:
                            type: string
                          sku:
                            type: string
                          subscriptionID:
                            type: string
                          version:
                            type: string
                        required:
                        - osType
                        type: object
                      location:
                        type: string
                      osDisk:
                        properties:
                          diskSizeGB:
                            format: int32
                            type: integer
                          managedDisk:
                            properties:
                              storageAccountType:
                                type: string
                            required:
                            - storageAccountType
                            type: object
                          name:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          source:
                            type: string
                        required:
                        - diskSizeGB
                        - managedDisk
                        - name
                        - osType
                        - source
                        type: object
                      providerID:
                        description: ProviderID is the unique identifier as specified
                          by the cloud provider.
                        type: string
                      sshPublicKey:
                        type: string
                      vmSize:
                        type: string
                    required:
                    - location
                    - sshPublicKey
                    - vmSize
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: false
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: AzureStackHCIMachineTemplate is the Schema for the azurestackhcimachinetemplates
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIMachineTemplateSpec defines the desired state
              of AzureStackHCIMachineTemplate
            properties:
              template:
                description: AzureStackHCIMachineTemplateResource describes the data
                  needed to create an AzureStackHCIMachine from a template
                properties:
                  spec:
                    description: Spec is the specification of the desired behavior
                      of the machine.
                    properties:
                      additionalSSHKeys:
                        items:
                          type: string
                        type: array
                      allocatePublicIP:
                        description: AllocatePublicIP allows the ability to create
                          dynamic public ips for machines where this value is true.
                        type: boolean
                      availabilityZone:
                        properties:
                          enabled:
                            type: boolean
                          id:
                            type: string
                        type: object
                      image:
                        description: 'Image defines information about the image to
                          use for VM creation. There are three ways to specify an
                          image: by ID, by publisher, or by Shared Image Gallery.
                          If specifying an image by ID, only the ID field needs to
                          be set. If specifying an image by publisher, the Publisher,
                          Offer, SKU, and Version fields must be set. If specifying
                          an image from a Shared Image Gallery, the SubscriptionID,
                          ResourceGroup, Gallery, Name, and Version fields must be
                          set.'
                        properties:
                          gallery:
                            type: string
                          id:
                            type: string
                          name:
                            type: string
                          offer:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          publisher:
                            type: string
                          resourceGroup:
                            type: string
                          sku:
                            type: string
                          subscriptionID:
                            type: string
                          version:
                            type: string
                        required:
                        - osType
                        type: object
                      location:
                        type: string
                      osDisk:
                        properties:
                          diskSizeGB:
                            format: int32
                            type: integer
                          managedDisk:
                            properties:
                              storageAccountType:
                                type: string
                            required:
                            - storageAccountType
                            type: object
                          name:
                            type: string
                          osType:
                            description: OSType describes the OS type of a disk.
                            type: string
                          source:
                            type: string
                        required:
                        - diskSizeGB
                        - managedDisk
                        - name
                        - osType
                        - source
                        type: object
                      providerID:
                        description: ProviderID is the unique identifier as specified
                          by the cloud provider.
                        type: string
                      sshPublicKey:
                        type: string
                      vmSize:
                        type: string
                    required:
                    - location
                    - sshPublicKey
                    - vmSize
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
