
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.6
  creationTimestamp: null
  name: azurestackhciclusters.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AzureStackHCICluster
    listKind: AzureStackHCIClusterList
    plural: azurestackhciclusters
    singular: azurestackhcicluster
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: AzureStackHCICluster is the Schema for the azurestackhciclusters
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIClusterSpec defines the desired state of AzureStackHCICluster
            properties:
              azureStackHCILoadBalancer:
                description: AzureStackHCILoadBalancer is used to declare the AzureStackHCILoadBalancerSpec
                  if a LoadBalancer is desired for the AzureStackHCICluster.
                properties:
                  image:
                    description: 'Image defines information about the image to use
                      for VM creation. There are three ways to specify an image: by
                      ID, by publisher, or by Shared Image Gallery. If specifying
                      an image by ID, only the ID field needs to be set. If specifying
                      an image by publisher, the Publisher, Offer, SKU, and Version
                      fields must be set. If specifying an image from a Shared Image
                      Gallery, the SubscriptionID, ResourceGroup, Gallery, Name, and
                      Version fields must be set.'
                    properties:
                      gallery:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      offer:
                        type: string
                      osType:
                        description: OSType describes the OS type of a disk.
                        type: string
                      publisher:
                        type: string
                      resourceGroup:
                        type: string
                      sku:
                        type: string
                      subscriptionID:
                        type: string
                      version:
                        type: string
                    required:
                    - osType
                    type: object
                  sshPublicKey:
                    type: string
                  vmSize:
                    type: string
                required:
                - image
                - sshPublicKey
                - vmSize
                type: object
              controlPlaneEndpoint:
                description: ControlPlaneEndpoint represents the endpoint used to
                  communicate with the control plane.
                properties:
                  host:
                    description: The hostname on which the API server is serving.
                    type: string
                  port:
                    description: The port on which the API server is serving.
                    format: int32
                    type: integer
                required:
                - host
                - port
                type: object
              location:
                type: string
              management:
                description: Management is true when the cluster is a Management Cluster.
                type: boolean
              networkSpec:
                description: NetworkSpec encapsulates all things related to Azure
                  network.
                properties:
                  subnets:
                    description: Subnets is the configuration for the control-plane
                      subnet and the node subnet.
                    items:
                      description: SubnetSpec configures an Azure subnet.
                      properties:
                        cidrBlock:
                          description: CidrBlock is the CIDR block to be used when
                            the provider creates a managed Vnet.
                          type: string
                        id:
                          description: ID defines a unique identifier to reference
                            this resource.
                          type: string
                        name:
                          description: Name defines a name for the subnet resource.
                          type: string
                        vnetId:
                          description: VnetID defines the ID of the virtual network
                            this subnet should be built in.
                          type: string
                      required:
                      - name
                      - vnetId
                      type: object
                    type: array
                  vnet:
                    description: Vnet is the configuration for the Azure virtual network.
                    properties:
                      cidrBlock:
                        description: CidrBlock is the CIDR block to be used when the
                          provider creates a managed virtual network.
                        type: string
                      id:
                        description: ID is the identifier of the virtual network this
                          provider should use to create resources.
                        type: string
                      name:
                        description: Name defines a name for the virtual network resource.
                        type: string
                    required:
                    - name
                    type: object
                type: object
              resourceGroup:
                type: string
              version:
                description: Version indicates the desired Kubernetes version of the
                  cluster.
                type: string
            required:
            - location
            - resourceGroup
            - version
            type: object
          status:
            description: AzureStackHCIClusterStatus defines the observed state of
              AzureStackHCICluster
            properties:
              bastion:
                description: VM describes an Azure virtual machine.
                properties:
                  availabilityZone:
                    type: string
                  bootstrapData:
                    type: string
                  id:
                    type: string
                  identity:
                    description: VMIdentity defines the identity of the virtual machine,
                      if configured.
                    type: string
                  image:
                    description: Storage profile
                    properties:
                      gallery:
                        type: string
                      id:
                        type: string
                      name:
                        type: string
                      offer:
                        type: string
                      osType:
                        description: OSType describes the OS type of a disk.
                        type: string
                      publisher:
                        type: string
                      resourceGroup:
                        type: string
                      sku:
                        type: string
                      subscriptionID:
                        type: string
                      version:
                        type: string
                    required:
                    - osType
                    type: object
                  name:
                    type: string
                  osDisk:
                    properties:
                      diskSizeGB:
                        format: int32
                        type: integer
                      managedDisk:
                        properties:
                          storageAccountType:
                            type: string
                        required:
                        - storageAccountType
                        type: object
                      name:
                        type: string
                      osType:
                        description: OSType describes the OS type of a disk.
                        type: string
                      source:
                        type: string
                    required:
                    - diskSizeGB
                    - managedDisk
                    - name
                    - osType
                    - source
                    type: object
                  vmSize:
                    description: Hardware profile
                    type: string
                  vmState:
                    description: State - The provisioning state, which only appears
                      in the response.
                    type: string
                type: object
              conditions:
                description: Conditions defines current service state of the cluster.
                items:
                  description: Condition defines an observation of a Cluster API resource operational state.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status to another. This should be when the underlying condition changed. If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about the transition. This field may be empty.
                      type: string
                    reason:
                      description: The reason for the condition's last transition in CamelCase. The specific API may choose whether or not this field is considered a guaranteed API. This field may not be empty.
                      type: string
                    severity:
                      description: Severity provides an explicit classification of Reason code, so the users or machines can immediately understand the current situation and act accordingly. The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition in CamelCase or in foo.example.com/CamelCase. Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              ready:
                description: Ready is true when the provider resource is ready.
                type: boolean
              phase:
                description: Phase represents the current phase of cluster actuation.
                  E.g. Pending, Running, Terminating, Failed etc.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
