
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.6
  creationTimestamp: null
  name: azurestackhcimachines.infrastructure.cluster.x-k8s.io
spec:
  group: infrastructure.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: AzureStackHCIMachine
    listKind: AzureStackHCIMachineList
    plural: azurestackhcimachines
    singular: azurestackhcimachine
  scope: Namespaced
  versions:
  - name: v1alpha3
    schema:
      openAPIV3Schema:
        description: AzureStackHCIMachine is the Schema for the azurestackhcimachines
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AzureStackHCIMachineSpec defines the desired state of AzureStackHCIMachine
            properties:
              allocatePublicIP:
                description: AllocatePublicIP allows the ability to create dynamic
                  public ips for machines where this value is true.
                type: boolean
              availabilityZone:
                properties:
                  enabled:
                    type: boolean
                  id:
                    type: string
                type: object
              image:
                description: 'Image defines information about the image to use for
                  VM creation. There are three ways to specify an image: by ID, by
                  publisher, or by Shared Image Gallery. If specifying an image by
                  ID, only the ID field needs to be set. If specifying an image by
                  publisher, the Publisher, Offer, SKU, and Version fields must be
                  set. If specifying an image from a Shared Image Gallery, the SubscriptionID,
                  ResourceGroup, Gallery, Name, and Version fields must be set.'
                properties:
                  gallery:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  offer:
                    type: string
                  publisher:
                    type: string
                  resourceGroup:
                    type: string
                  sku:
                    type: string
                  subscriptionID:
                    type: string
                  version:
                    type: string
                type: object
              location:
                type: string
              osDisk:
                properties:
                  diskSizeGB:
                    format: int32
                    type: integer
                  managedDisk:
                    properties:
                      storageAccountType:
                        type: string
                    required:
                    - storageAccountType
                    type: object
                  name:
                    type: string
                  osType:
                    description: 'TEMP: OSType describes the OS type of a disk.'
                    type: string
                  source:
                    type: string
                required:
                - diskSizeGB
                - managedDisk
                - name
                - osType
                - source
                type: object
              providerID:
                description: ProviderID is the unique identifier as specified by the
                  cloud provider.
                type: string
              sshPublicKey:
                type: string
              vmSize:
                type: string
            required:
            - location
            - sshPublicKey
            - vmSize
            type: object
          status:
            description: AzureStackHCIMachineStatus defines the observed state of
              AzureStackHCIMachine
            properties:
              addresses:
                description: Addresses contains the Azure instance associated addresses.
                items:
                  description: NodeAddress contains information for the node's address.
                  properties:
                    address:
                      description: The node address.
                      type: string
                    type:
                      description: Node address type, one of Hostname, ExternalIP
                        or InternalIP.
                      type: string
                  required:
                  - address
                  - type
                  type: object
                type: array
              failureMessage:
                description: "FailureMessage will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a more
                  verbose string suitable for logging and human consumption. \n This
                  field should not be set for transitive errors that a controller
                  faces that are expected to be fixed automatically over time (like
                  service outages), but instead indicate that something is fundamentally
                  wrong with the Machine's spec or the configuration of the controller,
                  and that manual intervention is required. Examples of terminal errors
                  would be invalid combinations of settings in the spec, values that
                  are unsupported by the controller, or the responsible controller
                  itself being critically misconfigured. \n Any transient errors that
                  occur during the reconciliation of Machines can be added as events
                  to the Machine object and/or logged in the controller's output."
                type: string
              failureReason:
                description: "FailureReason will be set in the event that there is
                  a terminal problem reconciling the Machine and will contain a succinct
                  value suitable for machine interpretation. \n This field should
                  not be set for transitive errors that a controller faces that are
                  expected to be fixed automatically over time (like service outages),
                  but instead indicate that something is fundamentally wrong with
                  the Machine's spec or the configuration of the controller, and that
                  manual intervention is required. Examples of terminal errors would
                  be invalid combinations of settings in the spec, values that are
                  unsupported by the controller, or the responsible controller itself
                  being critically misconfigured. \n Any transient errors that occur
                  during the reconciliation of Machines can be added as events to
                  the Machine object and/or logged in the controller's output."
                type: string
              ready:
                description: Ready is true when the provider resource is ready.
                type: boolean
              vmState:
                description: VMState is the provisioning state of the Azure virtual
                  machine.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
